/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #a29f9e; /* Change color of navigation bar line */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%; /* Set width to 100% */
}

.logo a {
    text-decoration: none;
    color: #666462; /* Change color of logo */
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s; /* Add transition for color change */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #666462; /* Change color of navigation links */
    position: relative;
    padding: 0 10px; /* Add padding to create space between links */
    transition: color 0.3s; /* Add transition for color change */
}

.nav-links li a:hover {
    color: #ADD8E6; /* Change color on hover to light blue */
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    bottom: -5px;
    left: 0;
    transition: 0.3s;
}

.nav-links li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    padding: 20px;
}

.left-section {
    flex: 1;
}

.profile img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.right-section {
    flex: 3;
    overflow-y: auto;
    padding-left: 20px;
}
