* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid #D9DDDC; /* Change color of navigation bar line */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%; /* Set width to 100% */
}

.logo a {
    text-decoration: none;
    color: #666462; /* Change color of logo */
    font-weight: bold;
    font-size: 1.2em;
    transition: color 0.3s; /* Add transition for color change */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #666462; 
    position: relative;
    padding: 0 10px; /* Add padding to create space between links */
    transition: color 0.3s; /* Add transition for color change */
    display: inline-block; /* Ensure anchor elements only take necessary space */
}

.nav-links li a:hover {
    color: #318CE7; 
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #318CE7; /* Change color of animation line to light blue */
    bottom: -6px;
    left: 0;
    transition: 0.4s;
    display: block;
}

.nav-links li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    padding: 20px;
}

.left-section {
    flex: 1;
}

.profile img {
    max-width: 75%;
    border-radius: 50%;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.social-links {
    display: flex;
    gap: 10px;
}

.right-section {
    flex: 3;
    overflow-y: auto;
    padding-left: 20px;
}

.profile-info {
    text-align: center; /* Center align the profile information */
}

.profile-info .name {
    font-weight: bold;
}

.profile-info .designation {
    font-style: italic;
    color: #666462; /* Adjust color as needed */
}

/* Media queries for tablet and mobile */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        margin-top: 20px;
    }

    .nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .right-section {
        padding-left: 0;
    }

    .profile img {
        max-width: 100%;
        width: 80%;
    }
}
